

body{
    background-image: url("../public/images/aurore.jpg");
    background-color:rgb(188,254,188);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header{
    font-family: 'Wallpoet', cursive;
    background-image: linear-gradient(to right, lightblue, white, lightblue);
    width: 100%;
    height: 215px;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
    text-align: center;
}

#adminHeader{
    background-image: linear-gradient(to right, lightblue, white, lightblue);
    width: 100%;
    height: 220px;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
}

#displayConnectForm{
    display: none;
}


/*Menu ADMIN*/

nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-image: linear-gradient(to right, lightgreen, white, lightgreen);
    text-align: center;
    border: 1px solid black;
}

nav li{
    display: inline-block;
    padding: 10px;
    margin: 0;
    border: 1px solid white;
    text-align: center;
    background-image: linear-gradient(to right, lightblue, white, lightblue); 
}

nav li:hover{
    background-image: linear-gradient(to right, lightgreen, white, lightgreen);
}

nav li a{
    display: block;
    text-decoration: none;
    color: black;
}

input{
    border-radius: 4px;
    margin-top: 2px;
}


/*Header*/

#hello{
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    left: 1%;
    top: 13px;
}

#logo{
    width: 100px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

#connectForm{
    border: 2px double black;
    border-radius: 4px;
    width: 300px;
    padding: 10px;
    position: absolute;
    right: 1%;
    top: 10px;
}

#disconnectForm{
    position: absolute;
    right: 1%;
    top: 10px;
}

#connexionError{
    font-family: cursive;
    font-size: 0.9em;
    color: red;
    display: block;
    position: absolute;
    top: 193px;
    right: 60px;
}

#connectForm button, #disconnect, .validComment, #keepCommentButton, #deleteCommentButton, #submitPost{
    background-color: lightgreen;
    border-radius: 4px; 
    padding: 5px;
    display: block;
    margin: 5px auto;
}

#connectForm button:hover, #disconnect:hover, .validComment:hover, #keepCommentButton:hover, #deleteCommentButton:hover, #submitPost:hover{
    background-image: linear-gradient(to right, lightblue, white, lightblue);
}

#connectForm input{
    margin-bottom: 5px;
}

.alaska{
    text-align: center;
}


/*Articles*/

.news h3{
    padding: 5px;
    background-image: linear-gradient(to right, lightblue, white, lightblue);
    border-radius:5px;
}

.postContent
{
    background-image: linear-gradient(to right, lightblue, white, lightblue);
    margin-top: 0;
    padding: 10px;
    border-radius:5px;
}

.postContent a{
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    background-image: linear-gradient(to right, lightblue, white, lightblue);
}

.postContent a:hover{
    background-image: linear-gradient(to right, lightgreen, white, lightgreen);
}

.postContentButtons{
    margin: 0 auto;
    text-align: center;
}

.news
{
    width:70%;
    margin:20px auto;
    padding: 10px;
    box-shadow: 0px 1px 12px #999;
    margin-bottom: 20px;
    border-radius: 5px;
}

.news a
{
    text-decoration: none;
    color: blue; 
}

#postForm{
    font-family: 'Wallpoet', cursive;
    border: 1px solid black;
    border-radius: 4px;
    width: 40%;
    margin: 0 auto 50px auto;
    text-align: center;
    background-image: linear-gradient(to right, lightblue, white, lightblue);
}

.backToPosts{
    text-align: center;
    margin: 30px;
}

.backToPosts a{
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    background-image: linear-gradient(to right, lightgreen, white, lightgreen);
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.backToPosts a:hover{
    background-image: linear-gradient(to right, lightblue, white, lightblue);
}

#emptyPostError{
    font-size: 1em;
    color: red;
    font-weight:bold;
    padding: 2px;
    border-radius: 4px;
}

/*Commentaires*/

.commentBox{
    display: block;
    margin: 20px auto;
    box-shadow: 0px 1px 12px #999;
    border-radius: 4px; 
    width: 30%; word-wrap: break-word; 
    padding: 10px;
}

.commentBox p{
    padding: 5px;
    background-image: linear-gradient(to right, lightgreen, white, lightgreen);
    border-radius:5px;
}

.commentBox p:first-child{
    font-weight: bold;
}

.commentBox a{
    position: relative; 
    left: 85%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    background-image: linear-gradient(to right, lightgreen, white, lightgreen);
    text-decoration: none;
    color: black;
}

.commentBox a:hover{
    background-image: linear-gradient(to right, lightblue, white, lightblue);
}

.titleComment, .newComment, .addNewPost, table caption{
    font-family: 'Wallpoet', cursive;
    width: 70%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border:1px solid black;
    border-radius: 4px;
    background-image: linear-gradient(to right, lightgreen, white, lightgreen);
    margin:50px auto;
}

.commentForm{
    font-family: 'Wallpoet', cursive;
    border: 1px solid black;
    border-radius: 4px;
    width: 30%;
    margin: 0 auto 50px auto;
    text-align: center;
    background-image: linear-gradient(to right, lightblue, white, lightblue);
}

.commentForm div{
    margin: 20px 0;
}

input{
    border-radius: 4px;
}

.commentForm label{
    font-size: 1.5em;
    
}

.comment{
    width: 90%;
    height: 200px;
    border-radius: 4px;
}

#emptyComment{
    font-family: cursive;
    font-size: 1em;
    color: red;
    font-weight:bold;
    padding: 2px;
    border-radius: 4px;
}

.reportMessageOk{
    width: 20%;
    font-size: 1.2em;
    font-weight:bold;
    color: green;
    text-align: center;
    border:1px solid black;
    display: block;
    margin: 0 auto;
    background-color: lightblue;
}

.reportMessageKo{
    width: 20%;
    font-size: 1.2em;
    font-weight:bold;
    color: red;
    text-align: center;
    border:1px solid black;
    display: block;
    margin: 0 auto;
    background-color: lightblue;
}

/*Tableau de modération des commentaires*/

td, th{
    border:2px double black;
}

#moderationTable{
    background-image: linear-gradient(to right, lightblue, white, lightblue);
    width: 80%;
    margin: 20px auto;
    border-collapse:collapse;
}

.postColumn{
    width: 50%;
}

table caption{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

table th{
    padding: 10px; 
    font-size: 1.2em;
}

table td{
    padding: 10px;
}

.postLink{
    display: none;
}

/*VUE MESSAGE D ERREUR*/

#errorMessage{
    color: red;
    font-size: 1.5em;
    font-family: 'Wallpoet', cursive;
    width: 20%;
    border: 2px double white;
    display: block;
    margin: 20% auto;
    text-align: center;
    padding: 20px;
}

#errorMessage button{
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    margin-top: 20px;
    background-image: linear-gradient(to right, lightblue, white, lightblue);
}

#errorMessage button:hover{
    background-image: linear-gradient(to right, lightgreen, white, lightgreen);
}

/*Page de création d'un administrateur*/

#registrationTitle{
    text-align: center;
}

#pageContent{
    background-color:rgb(188,254,188);
}

#pageContent form{
    margin-left: 30%;
    margin-right: 30%; 
    padding: 10px; 
    margin-top: 50px; 
    margin-bottom: 50px; 
    text-align: center; 
    background-color: #CCCCCC
}

#registrationPass2{
    position: relative; 
    left: -44px
}

#registrationEmail{
    position: relative; left: 5px
}


    /*-----MEDIA QUERIES SMARTPHONE------*/

    @media screen and (max-width: 680px){
    
    header{
        height: 130px;
    }

    #adminHeader{
        height: 150px;
    }

    header h1{
        font-size: 1.3em;
    }

    #logo{
        width: 50px;
    }

    #displayConnectForm{
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 12px;
        background-image: linear-gradient(to right, lightgreen, white, lightgreen);
        text-align: center;
        padding: 2px;
        border:1px solid black;
        border-radius: 4px;
    }

    #connectForm{
        width: 100%;
        display: none;
        position: relative;
        margin: auto;
        background-image: linear-gradient(to right, lightgreen, white, lightgreen);
    }

    #disconnectForm{
        border: none;
        top: 5px;
        right: 5px;
        padding: 0;
    }

    #disconnect{
        font-size: 0.5em;
    }

    #connexionError{
    width: 100%;
    top: 100px;
    left: 0;
    text-align: center;
    font-size: 1.1em;
    border:1px solid black;
}

    header nav{
        font-size:0.8em;
    }

    #hello{
        font-size:0.6em;
    }

    .commentForm {
        width: 90%;
    }

    .comment{
        width: 90%;
        height: 150px;
    }

    .news {
        width: 90%;
    }

    .news h3{
        font-size: small;
    }

    .commentBox {
        width: 70%;
    }

    .commentBox a{
        left:75%;
    }

    #postForm{
        width: 90%;
    }

    table caption{
        font-size: 1.2em;
        padding: 5px;
    }

    .postLink{
        display: block;
    }

    #moderationTable{
        width: 100%;
    }

    .postColumn{
        display: none;
    }

    .postColumnTitle{
        display: none;
    }

    #moderationTable .commentColumn{
        
        word-break: break-word;
    }

    #moderationTable .authorColumn{
        word-break: break-word;
    }

    #errorMessage{
        width: 80%;
    }

    }

    
    /*-----MEDIA QUERIES TABLETTE------*/

    @media screen and (min-width: 681px) and (max-width: 1024px) {

    #moderationTable{
        width: 100%;
    }

    .commentForm{
        width: 70%;
    } 

    }
