body{
    background-image: url("../public/images/aurore.jpg");
    background-color:rgb(188,254,188);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(to right, lightblue, white, lightblue);
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
}

#adminHeader{
    background-image: linear-gradient(to right, lightblue, white, lightblue);
    width: 100%;
    height: 230px;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
}


/*Menu ADMIN*/

nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-image: linear-gradient(to right, lightgreen, white, lightgreen);
    text-align: center;
    border: 1px solid black;
}

nav li{
    display: inline-block;l
    width: 100px;
    padding: 10px;
    margin: 0;
    border: 1px solid white;
    text-align: center;
    background-image: linear-gradient(to right, lightblue, white, lightblue); 
}

nav li:hover{
    background-image: linear-gradient(to right, lightgreen, white, lightgreen);
}

nav li a{
    display: block;
    text-decoration: none;
    color: black;
}


/*Header*/

#hello{
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    left: 1%;
    top: 13px;
}

#logo{
    width: 100px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

#connectForm{
    border: 2px double black;
    border-radius: 4px;
    width: 265px;
    padding: 10px;
    position: absolute;
    right: 1%;
    top: 13px;
}

#connectForm button, #disconnect{
    background-color: rgb(188,254,188);
    border-radius: 4px; 
    padding: 5px;
    display: block;
    margin: 5px auto;
}

#connectForm span{
    font-weight: bold;
}

#connectForm button:hover, #disconnect:hover{
    background-image: linear-gradient(to right, lightblue, white, lightblue);
}

#connectForm input{
    margin-bottom: 5px;
}

h1{
    text-align: center;
}


/*Articles*/

.news h3{
    padding: 5px;
    background-image: linear-gradient(to right, lightblue, white, lightblue);
    border-radius:5px;
}

.postContent
{
    background-image: linear-gradient(to right, lightblue, white, lightblue);
    margin-top: 0;
    padding: 10px;
    border-radius:5px;
}

.news
{
    width:70%;
    margin:20px auto;
    padding: 10px;
    box-shadow: 0px 1px 12px #999;
    margin-bottom: 20px;
    border-radius: 5px;
}

.news a
{
    text-decoration: none;
    color: blue; 
}

#postForm{
    margin-left: 10px;
    
}

/*Commentaires*/

.comm{
    box-shadow: 0px 1px 12px #999;
    border-radius: 4px; 
    width: 30%; word-wrap: break-word; 
    padding-left: 5px;
    margin: 10px;
}

.comm p{
    padding: 5px;
    background-image: linear-gradient(to right, lightgreen, white, lightgreen);
    border-radius:5px;
}

/*Tableau de modération des commentaires*/

#moderationTable{
    background-image: linear-gradient(to right, lightblue, white, lightblue);
    border: medium double black;
    width: 80%;
    margin: 20px auto;
}

#postCol{
    width: 50%;
}

table caption{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

table th{
    padding: 10px; 
    font-size: 1.2em;
}

table td{
    padding: 10px;
}

